body{
    background-color: black;
}

.sub_cont > p {
    color:white;
    padding-top:21px;


}
.container{
    position:absolute;
    background-color: brown;
    width:500px;
    height:200px;
    text-align: center;
}
#second{
    position:absolute;
    margin-left:600px;
}
#third{
    position:absolute;
    margin-top:300px;
}
#fourth{
    position:absolute;
    margin-top:300px;
    margin-left:600px;
}
.cont{
    position: absolute;
    background-color: bisque;
    margin-top:600px;
   
    width:500px;
    height:200px;
    display: flex;
    justify-content:flex-end;
    
}
.sub_cont1{
    width:100px;
    height:100px;
    background-color: blue;
    margin:20px;
}

.sub_cont1 > p{
    color:black;
}
.container3{
    position:absolute;
    background-color: beige;
    margin-top:900px;
    width:500px;
    height:400px;
}
.container3 #image1{
    position:absolute;
    margin-left: 200px;
    margin-top: 100px;
}
.container3 #image2{
    position:absolute;
    margin-left: 200px;
    margin-top: 100px;
}
.container3 #btn1{
    position: absolute;
    margin-top:150px;
}
.container3 #btn2{
    position: absolute;
    margin-top:150px;
    margin-left:400px;

}

